<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}{% endblock %}</title>

    <!-- jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script> -->
    <script src="static/thirdparty/jquery.js"></script>
    
    {% block headerjs %}
    {% endblock %}

    <!-- Bootstrap CSS -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link href="static/css/bootstrap.css" rel="stylesheet">


    <!-- Bootstrap Overrides -->
    <link href="static/css/navbar.css" rel="stylesheet">
    <link href="static/css/btn.css" rel="stylesheet">

    {% block css %}
    {% endblock %}

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">RoadCast</a>
        </div><!-- close navbar-header -->
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">TOS &amp; Privacy Policy</a></li>
                <li><a href="/diagram">Steps Diagram</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <!-- If user is not logged in, give them the option to log in or register. -->
            {% if not session.get("user_id") %}

            <li><a href="/register">Register</a></li>

            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <form action="/login" method="POST" class="navbar-form" id="login-form">
                  <div class="form-group">
                    <input type="text" placeholder="E-Mail" id="email">
                    <input type="password" placeholder="Password" id="password">
                  </div>
                  <input type="submit" id="login-button" value="Login">
                </form>
              </ul>
            </li>

            <!-- If user is logged in, give them the option to log out. -->
            {% else %}

            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if session.get("fname") %}{{ session.fname }}{% else %}Account{% endif %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/logout">Log Out</a></li>
              </ul>
            </li>

            {% endif %}

          </ul>
        </div><!-- close navbar-collapse -->
      
      </div><!-- close container-fluid -->
    </nav>

    {% block content %}
    {% endblock %}

<!--     <footer class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li><a href="">Terms of Service</a></li>
            <li><a href="">Privacy Policy</a></li>
        </ul>

      </div>        
    </footer> -->
    
    <!-- Bootstrap JS -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <script src="static/thirdparty/bootstrap.js"></script>

    {% block javascript %}
    {% endblock%}

</body>
</html>
