{% extends 'base.html' %}

{% block title %}RoadCast{% endblock %}

{% block jQplugins %}
    <script src="static/thirdparty/jquery.geocomplete.js"></script>
{% endblock %}

{% block css %}

    <style>
        /* Percentage-based sizes must inherit from parent block elements, and
        if any of those ancestors fail to specify a size, they are assumed to be
        0 x 0 pixels; therefore, html and body must specify a size for #map to
        have height as a percentage. */
        html, body {
            height: 100%;
        }

        .row, .container-fluid {
            height: 100%;
        }

        #submission-form {
            padding: 10px;
        }

        #weather-report {
            border: 1px black solid;
            padding: 10px;
        }

        #map {
            height: 92.67%;
        }

        td {
            vertical-align: bottom;
            text-align: bottom;
            padding-bottom: 5px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="container-fluid">

      <!-- first row needs to be moved down b/c fixed navbar -->
      <div class="row" style="margin-top: 51px">

        <div class="col-xs-12 col-sm-4">

        <div id="submission-form">
          <form action="/request" method="POST" id="directions-request">
            <!-- The "for" attribute of the <label> tag should be equal to the "id"
            attribute of the related element to bind them together. -->
            <!-- FIXME: Input text fields currently have default values for demo. -->
            
            <table>
              <tr>
                <td style="padding-right: 5px">
                  <label for="start">Start</label>
                </td>
                <td>
                  <input type="text" name="start" id="start" size="39" value="Berkeley, CA" placeholder="">
                  <input type="hidden" name="start-addr" id="start-addr">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="end">End</label>
                </td>
                <td>
                  <input type="text" name="end" id="end" size="39" value="Oakland, CA" placeholder="">
                  <input type="hidden" name="end-addr" id="end-addr">
                </td>
              </tr>
            </table>
            
            <label for="departure-day">Departing</label> <select name="departure-day" id="departure-day">
                <option value="today">Today</option>
                <option value="tomorrow">Tomorrow</option>
            </select>

            <label for="departure-time">at</label> <input type="time" name="departure-time" id="departure-time" value="17:00"><br>

            <label>Flexibility</label> <select name="before" id="before">
                <option value="0">0 min</option>
                <option value="30">30 min</option>
                <option value="60">60 min</option>
            </select> <label for="before">before</label>

            &nbsp;

            <select name="after" id="after">
                <option value="0">0 min</option>
                <option value="30">30 min</option>
                <option value="60">60 min</option>
            </select>
            <label for="after">after</label><br>

            <label for="mode">Transportation mode</label> <select name="mode" id="mode">
                <option value="DRIVING">Driving</option> <!-- JS API requires this value to be capitalized. -->
                <option value="TRANSIT">Public Transit</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING" selected>Bicycling</option>
            </select><br>

            <input type="submit" id="submit-button" value="Submit">
          </form>
        </div><!-- close submission-form div -->

        <div id="weather-report">
            <h4 style="display: inline">Weather Report</h4>
            <p><i><a href="http://forecast.io/">Powered by Forecast</a></i></p>
            <div id="wr-msg-top"></div>

            <p>On your trip, the weather will mostly be <b><span id="modal-weather"></span></b>.</p>
            <p>The chance of precipitation will be <b><span id="precip-prob"></span></b>%.
            <span id="wr-msg-pp"></span></p>

            <p>The average temperature will be <b><span id="avg-temp"></span></b>℉.</p>

            <div id="wr-msg-bottom"></div>
        </div> <!-- close weather-report div -->
        <script>$("#weather-report").hide();</script>

        </div>

        <div class="col-xs-12 col-sm-8" id="map"></div>

      </div><!-- close row -->
    </div><!-- close container -->

{% endblock %}

{% block javascript %}

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{jskey}}&v=3&libraries=places"></script>

    <!-- my JavaScript -->
    <script src="/static/map.js"></script>

{% endblock%}
