{% extends 'base.html' %}

{% block title %}RoadCast{% endblock %}

{% block css %}

    <style>
        /* Percentage-based sizes must inherit from parent block elements, and
        if any of those ancestors fail to specify a size, they are assumed to be
        0 x 0 pixels; therefore, html and body must specify a size for #map to
        have height as a percentage. */
        html, body {
            height: 100%;
        }
        
        #map {
            height: 100%;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="container">

      <!-- first row needs to be moved down 55px b/c fixed navbar -->
      <div class="row" style="margin-top: 55px">

        <div class="col-xs-6" id="submission-form">
          <form action="/request" method="POST" id="directions-request">
            <!-- The "for" attribute of the <label> tag should be equal to the "id"
            attribute of the related element to bind them together. -->
            <label for="start">Starting location:</label> <input type="text" name="start" id="start" size="40" placeholder="">
            <input type="hidden" name="start-addr" id="start-addr"><br>

            <label for="end">Destination:</label> <input type="text" name="end" id="end" size="40" placeholder="">
            <input type="hidden" name="end-addr" id="end-addr"><br>

            <label for="departure-day">Departing</label> <select name="departure-day" id="departure-day">
                <option value="today">Today</option>
                <option value="tomorrow">Tomorrow</option>
            </select>

            <label for="departure-time">at</label> <input type="time" name="departure-time" id="departure-time"><br>

            <label>Flexibility </label> <label for="before">before:</label>

            <select name="before" id="before">
                <option value="0">0</option>
                <option value="30">30 min</option>
                <option value="60">60 min</option>
            </select>

            <label for="after">after:</label>
            <select name="after" id="after">
                <option value="0">0</option>
                <option value="30">30 min</option>
                <option value="60">60 min</option>
            </select><br>

            <label for="mode">Transportation mode:</label> <select name="mode" id="mode">
                <option value="DRIVING">Driving</option> <!-- JS API requires this value to be capitalized. -->
                <option value="TRANSIT">Public Transit</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Bicycling</option>
            </select><br>

            <input type="submit" id="submit-button" value="Submit">
          </form>
        </div><!-- close submission-form div -->

        <div class="col-xs-6" id="weather-report">
            <h4>Weather Report</h4>
            <div id="new-recommendation"></div>

            <p>On your trip, the weather will mostly be <b><span id="modal-weather"></span></b>.</p>
            <p>The chance of precipitation is <b><span id="precip-prob"></span></b>%.</p>
            <p>The average temperature will be <b><span id="avg-temp"></span></b>℉.</p>

            <div id="recommendation"><p><i>Loading recommended time to leave...</i></p></div>
            <script>$("#recommendation").hide();</script>
        </div> <!-- close weather-report div -->
        <script>$("#weather-report").hide();</script>

      </div><!-- close row -->
    </div><!-- close container -->

    <div class="container-fluid" style="height: 79%">

      <div class="row" style="height: 100%">

        <div id="map"></div>

      </div><!-- close row -->
    </div><!-- close container -->

{% endblock %}

{% block javascript %}

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{jskey}}&v=3&libraries=places"></script>

    <!-- my JavaScript -->
    <script src="/static/map.js"></script>

{% endblock%}
